@import url("https://fonts.googleapis.com/css?family=Allura|Damion|Kumar+One+Outline|Monoton|Raleway|Orbitron");

@font-face {
  font-family: lasenter;
  src: url("../assets/fonts/las-enter.woff") format("woff");
}

@font-face {
  font-family: digital7;
  src: url("../assets/fonts/digital-7.ttf") format("woff");
}

@font-face {
  font-family: Noble Gas;
  src: url("../assets/fonts/noble-gas-lights.woff") format("woff");
}

html {
  height: 100%;
}

body {
  background-color: #000;
  height: 100%;
  color: #f1f1f1;
}

a {
  color: #f1f1f1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: #000;
  opacity: 1;
  /* transition: opacity 1s ease-in-out;
   -moz-transition: opacity 1s ease-in-out;
   -webkit-transition: opacity 1s ease-in-out; */
}

.overlay.hidden {
  opacity: 0;
  /* transition: visibility 0s 1s, opacity 1s linear; */
  /* visibility: hidden; */
  transform: translateY(-100%);
  transition: transform 1.5s linear, opacity 2s linear;
}

.text-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-addon {
  display: flex;
}

.input-addon-field {
  flex: 1;
}

.button {
  /* width: 50px; */
  /* display: inline-block; */
  background-color: #000;
  border: none;
  text-align: center;
  cursor: pointer;
  color: #4A7061;
  text-shadow: 
    -.1vw 0vw 2vw #184D23, 
    -.2vw 0vw 2vw #184D23, 
    -.4vw 0vw 2vw #184D23;
}

.button:hover {
  color: #A9FFDC;
  text-shadow: 
  -0.1vw 0vw 0.25vw #a9ffdc,
  -0.1vw 0vw 0.1vw #00cc2a,
  -0.1vw 0vw 0.8vw #00cc2a,
  -0.2vw 0vw 0.8vw #00cc2a, 
  -0.4vw 0vw 0.8vw #00cc2a, 
  0.2vw 0vw 0.5vw #00cc2a,
  -0.1vw 0vw 0.5vw #00cc2a, 
  -0.2vw 0vw 0.5vw #00cc2a, 
  -0.4vw 0vw 0.5vw #00cc2a,
  -0.1vw 0vw 4vw #16fa19, 
  -0.2vw 0vw 4vw #16fa19, 
  -0.4vw 0vw 4vw #16fa19;
}

.label {
  font-family: monospace;
  text-transform: uppercase;
  margin: 10px 0 1px;
}

input, select {
  color: #A9FFDC;
  font-size: 20px;
  font-family: 'digital7', monospace;
  background-color: #000;
  border: none;
  border-radius: 0;
  padding: 5px;
  -webkit-appearance: none;
  border: none;
}

input, select, button, button:active {
  outline-color: transparent;
  outline-style: none;
  outline: none !important;
}

input:active, select:active {
  box-shadow:  
  1px 1px 5px rgba(169,255,220,0.3), -1px -1px 5px rgba(169,255,220,0.3),
  inset 1px 1px 1px rgba(169,255,220,0.3), inset -1px -1px 1px rgba(169,255,220,0.3);;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  -webkit-text-fill-color: #A9FFDC !important;
  -webkit-box-shadow: 0 0 0 30px #000 inset;
  box-shadow: 0 0 0 30px #000 inset
}

ul {
  list-style-type: none;
}