.tv-container {
    margin: 0 auto;
    text-align: center;
    color: white;
    background-image: url("../assets/tv-background.jpg");
    height: 390px;
    width: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px 0;
}

.text-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
  background-color: #000
}
