#sidebar {
  /* background-color: rgba(30, 30, 30, 1); */
  background-image: 
    linear-gradient(to top, rgba(30,30,30, 0.2) 33.33333%, rgba(30,30,30, 0.4) 33.33333%, rgba(30,30,30, 0.4) 66.66666%, rgba(30,30,30, 0.6) 66.66666%), 
    linear-gradient(to right, rgba(17, 0, 0, 0.7) 33.33333%, rgba(0, 17, 0, 0.7) 33.33333%, rgba(0, 17, 0, 0.7) 66.66666%, rgba(0, 0, 17, 0.7) 66.66666%);
  background-size: 3px 3px;
  mix-blend-mode: multiply;
  display: inline-block;
	vertical-align: top;
	height: 100%;
	width: 27%;
	overflow: auto;
}

/* Forms */
.sidebar-form {
  margin: 0 auto;
  border-bottom: 1px solid #4a7061;
  padding: 10px 15px 30px;
}

/* Nav tab style overwriter */
.nav-tabs {
  border-bottom: 1px solid #4a7061;
  font-size: 20px;
  padding: 20px 0;
  font-family: Noble Gas;
}

.nav-tabs .nav-link:hover {
  border: none;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
  /* font-size: 1.5vw; */
  line-height: 1.5vw;
  color: #4a7061;
  text-shadow: -0.1vw 0vw 0.25vw #4a7061,
    -0.1vw 0vw 0.1vw #184d23,
    -0.1vw 0vw 0.8vw #184d23,
    -0.2vw 0vw 0.8vw #184d23, -0.4vw 0vw 0.8vw #184d23, 0.2vw 0vw 0.5vw #184d23,
    -0.1vw 0vw 0.5vw #184d23, -0.2vw 0vw 0.5vw #184d23, -0.4vw 0vw 0.5vw #184d23,
    -0.1vw 0vw 2vw #184d23, -0.2vw 0vw 2vw #184d23, -0.4vw 0vw 2vw #184d23;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: #a9ffdc;
  text-shadow: -0.1vw 0vw 0.25vw #a9ffdc,
    /* -0.2vw 0vw 0.25vw #a9ffdc, */ /* -0.4vw 0vw 0.25vw #a9ffdc,  */ -0.1vw 0vw
      0.1vw #00cc2a,
    /* -0.2vw 0vw 0.1vw #00cc2a,  */ /* -0.4vw 0vw 0.1vw #00cc2a,  */ -0.1vw 0vw
      0.8vw #00cc2a,
    -0.2vw 0vw 0.8vw #00cc2a, -0.4vw 0vw 0.8vw #00cc2a, 0.2vw 0vw 0.5vw #00cc2a,
    -0.1vw 0vw 0.5vw #00cc2a, -0.2vw 0vw 0.5vw #00cc2a, -0.4vw 0vw 0.5vw #00cc2a,
    -0.1vw 0vw 4vw #16fa19, -0.2vw 0vw 4vw #16fa19, -0.4vw 0vw 4vw #16fa19;
}

/* General sidebar list styles */
ul.sidebar-list {
  padding: 0;
}

ul.sidebar-list li {
  font-family: monospace;
  font-size: 15px;
  width: 100%;
  padding: 10px 5px;
  border-bottom: 1px solid rgb(24, 36, 31);
}

ul.sidebar-list li:last-of-type {
  border-bottom: none;
}

ul.sidebar-list li:hover {
  /* background-color: rgba(30, 30, 30, 1); */
  opacity: 0.7;
}

ul.sidebar-list li div {
  display: inline-block;
}

/* Playlist */
ul.sidebar-list li.playlist {
  height: 100px;
}

ul.sidebar-list li.playlist .info {
  width: 75%;
  margin-left: 10px;
  float: left;
}

ul.sidebar-list li.playlist .info .singer {
  font-size: 13px;
  text-transform: uppercase;
  color: #bbb;
}

ul.sidebar-list li.playlist .controls {
  width: 20%;
  margin-left: 5px;
  cursor: pointer;
}

ul.sidebar-list li.playlist .controls span {
  margin-left: 5px;
  float: right;
  transition: 0.3s;
}

ul.sidebar-list li.playlist .controls span:hover {
  color: #fff;
}

/* Search list */
ul.sidebar-list li.song-result {
  cursor: pointer;
  height: 100px;
  transition: 0.3s;
}

ul.sidebar-list li.song-result:hover {
  background-color: rgba(30, 30, 30, 1);
}

ul.sidebar-list li.song-result .thumb {
  margin: 5px 0;
  width: 80px;
  height: 60px;
  float: left;
  position: relative;
  background-size: cover;
  padding: 10px 30px;
}

ul.sidebar-list li.song-result .thumb::before {
  content: "\f067";
  font-family: FontAwesome;
  font-size: 28px;
  color: rgba(255, 255, 255, 0);
  text-shadow: 0 0 40px #000;
  text-align: center;
  display: inline-block;
  transition: 0.3s;
}

ul.sidebar-list li.song-result .thumb.loader::before {
  content: "\f110";
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

ul.sidebar-list li.song-result:hover .thumb::before {
  color: rgba(255, 255, 255, 1);
}

ul.sidebar-list li.song-result .info {
  width: 70%;
  margin-left: 10px;
  float: left;
}

ul.sidebar-list li.song-result .info div {
  display: block;
}

ul.sidebar-list li.song-result .info .title {
  font-size: 15px;
  line-height: 1em;
}

ul.sidebar-list li.song-result .info .channel {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  /* font-size: 13px; */
  text-transform: uppercase;
  color: #bbb;
}

/* Singers List */
ul.sidebar-list li.user {
  height: 40px;
}

ul.sidebar-list li.user .info {
  width: 80%;
  margin-left: 10px;
  float: left;
  text-transform: uppercase;
}

ul.sidebar-list li.user .controls {
  width: 10%;
  margin-left: 10px;
  cursor: pointer;
}

ul.sidebar-list li.user .controls span {
  margin-left: 5px;
  float: right;
  transition: 0.3s;
}

ul.sidebar-list li.user .controls span:hover {
  color: #fff;
}
