.select-button {
    background: #133DEA;
    border: 2px solid #fff;
    border-radius: 100%;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    width: 40px;
}

.select-button.blue {
  background: #133DEA;
  box-shadow: 0 -2px 0 3px #1134A5 inset, 0 5px 5px rgba(3, 25, 41, 0.17), 0 5px rgba(255, 255, 255, 0.25) inset;
}
.select-button.blue:active {
    box-shadow: 0 -2px 0 3px #133DEA inset, 0 5px 5px rgba(3, 25, 41, 0.17), 0 5px #133DEA inset;}
}

.select-button.green {
    background: #68F75C;
    box-shadow: 0 -2px 0 3px #24A511 inset, 0 5px 5px rgba(3, 25, 41, 0.17), 0 5px rgba(255, 255, 255, 0.25) inset;
}

.select-button.green:active {
    box-shadow: 0 -2px 0 3px #4EAA44 inset, 0 5px 5px rgba(3, 25, 41, 0.17), 0 5px #4EAA44 inset;}
}
